<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/castle.jpg" />
      <ion-card-subtitle>Castle</ion-card-subtitle>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item><ion-input placeholder="Enter login"></ion-input></ion-item>
      <ion-item><ion-input placeholder="Enter password"></ion-input></ion-item>
    </ion-card-content>

    <br />
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" class="ion-text-center">
        <ion-button (click)="login()">Login</ion-button></ion-col
      ></ion-row
    >
  </ion-card>
</ion-content>
