<ion-header>
  <ion-toolbar>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-card>
    <ion-card-header>
      <img src="assets/castle.jpg" />
      <ion-card-subtitle>Castle</ion-card-subtitle>
      <ion-card-title>History</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      From Middle English castle, castel, from late Old English castel, castell
      (“a town, village, castle”), borrowed from Late Latin castellum (“small
      camp, fort”), diminutive of Latin castrum (“camp, fort, citadel,
      stronghold”), possibly from Proto-Indo-European *kat- (“hut, shed”).
      Doublet of castell, castellum and château. Parallel borrowings (from Late
      Latin or Old French) are Scots castel, castell (“castle”), West Frisian
      kastiel (“castle”), Dutch kasteel (“castle”), German Kastell (“castle”),
      Danish kastel (“citadel”), Swedish kastell (“citadel”), Icelandic kastali
      (“castle”), Welsh castell. The Middle English word was reinforced by
      Anglo-Norman/Old Northern French castel, itself from Late Latin castellum
      (“small camp, fort”) (compare modern French château from Old French
      chastel). If Latin castrum (“camp, fort, citadel, stronghold”) is from
      Proto-Indo-European *kat- (“hut, shed”), Latin casa (“cottage, hut”) is
      related. Possibly related also to Gothic 𐌷𐌴𐌸𐌾𐍉 (hēþjō, “chamber”), Old
      English heaþor (“restraint, confinement, enclosure, prison”).
      <a href="https://en.wiktionary.org/wiki/castle" target="_blank"
        >Source...</a
      >
    </ion-card-content>
  </ion-card></ion-content
>
